#wdc_navbar {padding-left:9px; margin-top:-24px; height:49px; width:900px; margin-bottom:0px;}

#wdc_content_leftblock_rightblock {float:left; width:54%; height:auto; margin-bottom:20px; line-height:100%; background-color:transparent; margin-right:10px;}

#wdc_ads {line-height:100px; margin-top:-24px; text-align:center; vertical-align:middle; margin-bottom:10px;} 